body {
	background: url('../img/background-pp.png') no-repeat fixed;
	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: contain;
  	-webkit-background-position: right;
  	-moz-background-position: right;
  	-o-background-position: right;
  	background-position: right;
}

.error-color {
  color: rgb(185, 74, 72);
}